<li id="example-step" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-bind="i18n: 'Example Step'" data-role="title"></div>
    <div id="checkout-step-title" class="step-content" data-role="content">
        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">

            <div class="field" name="example.example-field">

                <label class="label" for="example-field">
                    <span>Example field</span>
                </label>

                <div class="control">
                    <input class="input-text" type="text" data-bind="
    value: form.exampleField,
    valueUpdate: 'keyup'" name="example-field" placeholder="Enter something" id="example-field">
                </div>
            </div>

            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>